---
name: Build on Ubuntu

on:
  - push
  - pull_request

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
      - name: Get dependencies
        run: |
          sudo apt-get update -y
          sudo apt-get install -y wget git gawk findutils
          xargs -a <(awk '! /^ *(#|$)/' ".github/workflows/apt.txt") -r -- \
              sudo apt-get install -y --no-install-recommends \
              --no-install-suggests
      - name: Create GDAL_AUTOLOAD directory
        run: |
          mkdir $HOME/gdalplugins
      - name: Build
        run: .github/workflows/build_ubuntu.sh $HOME/gdalplugins
      - name: Test executing of GDAL with driver on GRASS maps
        run: .github/workflows/test_simple.sh $HOME/gdalplugins
